.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: 0s ease-in-out;
  p {
    font-size: 50px;
    @media (max-width: 645px) {
      font-size: 35px;
    }
    @media (max-width: 435px) {
      font-size: 27px;
    }
  }
  .main_time {
    display: flex;
    gap: 50px;
    @media (max-width: 560px) {
      gap: 20px;
    }
    .main_time__h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 40px;
        @media (max-width: 645px) {
          font-size: 25px;
        }
        @media (max-width: 435px) {
          font-size: 17px;
        }
      }
    }
  }
}
